/* Farben: #002a5a, #efe8d7, #F4C4C4, #282b29, #7d2222, #DEB873, #D2D2D2, #1d8883 */
@font-face {
    font-family: "AtheneFont";
    src: url(../fonts/Athene.otf);
}
div{
    font-family: "AtheneFont";
    color: #282b29;
    opacity: 0.6;
}
body{
    margin: 0;
    font-family: "AtheneFont";
}
/* =====HEADER========== */
header{
    background-color: #efe8d7;
    padding-top: 5%;
    color: #002a5a;
}
header div{
    border-bottom: 1px solid;
    padding: 0.5em;
    position: fixed;
    top:0;
    width: 100%;
}

header p{
    margin-top: 0;
    display: inline;
    text-transform: uppercase;
    font-size: 0.8em;
}
div p:nth-child(2){
    padding-left: 70%;
}
div p:first-child{
    padding-left: 5%;
}
header h1{
    text-align: center;
    border-bottom: 1px solid;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 4em;
    font-weight:lighter;
}
/* Line after Folie */
header h1:nth-of-type(2) span::before{
    display: inline-block;
    content: "";
    width: 2em;
    background: #002a5a;
    height: 3px;
    position: relative;
    bottom: 0.3em;
}
header h1:nth-of-type(2) span{
   display: inline-block;
}
header h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight:lighter;
    padding-right: 8em;
    padding-bottom: 3em;
    margin: 0;
}
header img{
    display: block;
    margin:2em auto;
}
header h3 span{
    color: #282b29;
    opacity: 0.6;
}

/* ========RELEASE========== */
.release{
    background-color: #F4C4C4;
}
.release p:first-child{
    margin-top: 0;
    opacity: 0.5;
    padding-left: 5%;
    padding-top: 2%;
}
section p:first-child:before{
   content: ".";
}
section h1{
    text-transform: uppercase;
    font-size:4em;
    font-weight:lighter;
    height: 1.5em;
    width: 10%;
    text-align: left;
    margin: 0;
}
.release p:nth-of-type(2){
    text-transform: uppercase;
    width: 35%;
    text-align: left;
    padding-left: 50%;
    opacity: 0.6;
    font-size: 0.7em;
    line-height: 2em;
}
.release p:nth-of-type(3){
    text-transform: uppercase;
    width: 35%;
    text-align: left;
    padding-left: 50%;
    padding-bottom: 4em;
    opacity: 0.6;
    font-size: 0.7em;
    line-height: 2em;
}
.release table{
    text-align: right;
    padding-left: 40%;
    padding-bottom: 4em;
    opacity: 0.6;
    font-weight: lighter;
    padding-right: 20%;
}
table tr td{
    border: 1px solid #282b29;
    border-top: none;
    border-width: none;
    border-left: none;
    border-right: none;
    height: 5em;
}
tr td:nth-of-type(2){
    text-align:left; 
    padding-left: 4em;
}
tr td:first-child{
    text-transform: uppercase;
}

tr td:nth-of-type(3){
    text-align:right; 
    padding-left: 35%;
    width: 40%;
}
.release svg{
    width: 7em;
    padding-left: 76%;
}
/* ========WORKS========== */
.works{
    background-color: #DEB873;
    color:#7d2222;
}
.works p:first-child{
    margin-top: 0;
    opacity: 0.5;
    padding-right: 5%;
    padding-top: 2%;
    text-align: right;
}
.works h1:first-of-type{
    text-transform: uppercase;
    font-size:4em;
    font-weight:lighter;
    height: 1.5em;
    text-align: right;
    margin: 0 ;
    padding-left: 80%;
}
.works h1:nth-of-type(2){
    text-transform: uppercase;
    font-size:4em;
    font-weight:lighter;
    height: 1.5em;
    text-align: right;
    margin: 0 ;
    padding-left: 88%;
}
.works p:nth-of-type(2){
    text-transform: uppercase;
    width: 35%;
    text-align: left;
    padding-left: 10%;
    opacity: 0.6;
    font-size: 0.7em;
    line-height: 2em;
    padding-bottom: 4em;
}
/* Positioning Pictures and Titles  */
.works div{
    margin: 0 auto;
    color:#7d2222;
    opacity: 1;
    border-style: none;
    width: 70%;
    height: 40%;
}
.text_left h2{
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5em;
    width: 6em;
    position: relative;
    padding:0;
    margin: 0%;
    text-align: left;
}
.text_left img{
    width: 50%;
    position: relative;
    padding-left: 40%;
    margin: 0 0%;
    bottom: 4em;
}
.text_right h2{
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5em;
    width: 6em;
    position: relative;
    margin: 0 0%;
    padding-left: 60%;
    text-align: right;
    bottom: 8.5em;
}

.text_right img{
    width: 50%;
    position: relative;
    padding:0;
    margin: 0 0%;
    bottom: 50%;
}
/* ========FOOTER========== */
footer{
    color:#1d8883;
    background-color: #D2D2D2;
}
footer p:first-child{
    margin-top: 0;
    opacity: 0.5;
    padding-left: 5%;
    padding-top: 2%;
}
footer p:first-child:before{
    content: ".";
}
footer h1{
     text-transform: uppercase;
     font-size:4em;
     font-weight:lighter;
     height: 1.5em;
     width: 10%;
     text-align: left;
     margin: 0;
}

footer p:nth-of-type(2){
     text-transform: uppercase;
     width: 25%;
     text-align: center;
     padding-left: 0%;
     margin: 0 auto;
     opacity: 0.6;
     font-size: 0.7em;
     line-height: 2em;
}

footer nav{
   text-align: right;
   padding-right: 10%;
   padding-bottom: 10%;
   line-height: 2em;
}
nav ul{
    list-style: none;
}
nav ul a{
    opacity: 0.6;
    font-weight: lighter;
    text-decoration: none;
}
nav ul a:link, nav ul a:visited{
    color: #1d8883;
}
nav ul a:hover{
    text-decoration: underline;
}